#splash {
	background-color: black;
	background-size: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;

  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  min-height: 360px;

  z-index: 2;

  display: none;
}

#splash h2 {
	position: relative;
	z-index: 4;
	color: #383838;
	font-size: 90px;
	font-family: 'Oxygen', sans-serif;
}

.wave{
	z-index: 3;
 	display:inline-block;
	background-color: black;
	height:100%;
  	width:100px;
  	position:absolute;
  	-webkit-animation-name:             dostuff;
  	-webkit-animation-duration:         6s;
  	-webkit-animation-iteration-count:  1;
  	-webkit-transition-timing-function: ease-in-out;
  	-webkit-animation-fill-mode: both;
	background-size: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;

    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}


@-webkit-keyframes dostuff{
  0%{
    height:92%;
  }
  10%{
    height:88%;
  }
  20%{
    height:82%;
  }
  30%{
    height:60%;
  }
  40%{
    height:87%;
  }
  50%{
    height:75%;
  }
  60%{
    height:73%;
  }
  65%{
  	height:63%
  }
  70%{
    height:45%;
  }
  80%{
    height:59%;
  }
  90%{
    height:53%;
  }
  100%{
    height:20%;
  }
}

body {
	position: relative;

	background-image: url("../media/Greek Letters Painted-01.jpg");
	background-position: center;
	background-size: cover;
	z-index: -1;
}

form {
	position: relative;
	background: rgba(228,228,228,0.92);
	border-style: solid;
	border-radius: 25px;
	border-width: 3px;
	padding: 5px;
	height: 375px;
	width: 722px;
	margin: 230px auto 0;
}

form div {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	opacity: 1.0;
}

form label{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}

form input,form select[name="fraternity"], form select[name="school"]{
  display: inline-block;
  float: left;
}

input {
    width: 300px;
}

select {
	width: 300px;
}

.checkbox {
	text-align: left;
}

.checkbox label{
	position: absolute;
	bottom: 30px;
  left: 30px;
}
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span{
   	display:inline-block;
    width:69px;
    height:69px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("../media/checkbox.png") left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url("../media/checkbox.png") -85px top no-repeat;
}

.date {
	margin: 25px 0;
	text-align: center;
	width: 367px;
}

.ui-widget {
	margin-top: 10px;
}

#fraternityWidget {
	display: none;
}

.submit {
  position: absolute;
  bottom: 30px;
  right: 80px;
}

.submit button {
  background-image: url("../media/submit.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100px;
  width: 100px;
  border: none;
  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: #E4E4E4;
}

.submit button span {
  display: none;
}

label {
	width: 100px;
}

#pin-prompt{
	position: absolute;
	background: rgba(228,228,228,0.92);
	width: 470px;
	height: 50px;
	border-style: solid;
	border-radius: 25px;
	border-width: 3px;
	padding: 10px;
	display: none;
	top: 40%;
  left: 50%;
  margin-top: -25px;
  margin-left: -235px;
}

#pin-prompt label{
	width: auto;
}

#pin-prompt form{
	height: auto;
	width: auto;
	margin: 0;
	border: 0;
}
