#login-form {
	position: relative;
	background: rgba(228,228,228,0.92);
	border-style: solid;
	border-radius: 25px;
	border-width: 3px;
	padding: 5px;
	height: 200px;
	width: 600px;
	margin: 230px auto 0;
  text-align: center;
}

#logout-form {
	position: relative;
	background: rgba(228,228,228,0.92);
	border-style: solid;
	border-radius: 25px;
	border-width: 3px;
	padding: 5px;
	height: 200px;
	width: 600px;
	margin: 230px auto 0;
  text-align: center;
}

#submit{
  background-image: url("../media/submit.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  width: 100px;
  border: none;
  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: #E4E4E4;
  margin: 5px;
  float: none;
}

form label{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}

form input{
  display: inline-block;
  float: left;
}

.err-msg {
  text-align: center;
  margin: 5;
  font-size: 16px;
  color: red;
}
