form {
  height: 500px;
}

form h1{
  text-align: center;
  margin: 20px;
}

.checkbox label{
  position: relative;
  top: 20px;
}

.submit #register{
  background-image: url("../media/submit.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100px;
  width: 100px;
  border: none;
  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: #E4E4E4;
}
